azureml-core==1.59.0.post2
torch-tb-profiler~=0.4.0
MarkupSafe==2.1.2
regex
pybind11
urllib3>=1.26.18
cryptography>=42.0.4
aiohttp>=3.8.5
py-spy==0.3.12
debugpy~=1.6.3
ipykernel~=6.0
tensorboard
psutil~=5.8.0
matplotlib~=3.5.0
tqdm~=4.66.3
py-cpuinfo==5.0.0
torch-tb-profiler~=0.4.0
cartopy==0.22.0
chex==0.1.85
netcdf4==1.6.5
optax==0.1.9
dask==2024.1.1
dm-haiku==0.0.11
dm-tree==0.1.8
jraph==0.0.6.dev0
#matplotlib==3.8.2
numpy==1.24.4
pandas==2.2.0
rtree==1.2.0
scipy==1.12.0
trimesh==4.1.3
typing_extensions==4.9.0
xarray==2023.7.0
zarr==2.17.2
wandb
colabtools==0.0.1
jax[cuda12]==0.4.35
diffusers==0.27.0
huggingface_hub==0.25.2
